In [12]:
from sklearn.model_selection import train_test_split, KFold
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline


plt.style.use('ggplot')

In [13]:
# Research Question: Is there higher crime rate in cities/counties that provide public transportation

In [14]:
subway_df = pd.read_csv('../data/2014-2019 Subway Tables_UL.csv')
subway_df.head(5)

,Station (alphabetical by borough),Unnamed: 1,Boro,2014,2015,2016,2017,2018,2019,2018-2019 Change,Unnamed: 10,2019 Rank
0,The Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"138 St-Grand Concourse (4,5)",1.0,Bx,"3,416","3,480","3,532","3,486","3,166","3,324",158,5.00%,357.0
2,"149 St-Grand Concourse (2,4,5)",NaN,Bx,"14,576","14,465","14,460","14,063","13,081","12,960",-121,-0.90%,120.0
3,"161 St-Yankee Stadium (B,D,4)",NaN,Bx,"27,541","27,020","26,947","26,674","26,034","25,642",-392,-1.50%,44.0
4,167 St (4),NaN,Bx,"9,793","9,923","9,972","9,466","9,398","8,486",-912,-9.70%,184.0

In [15]:
# Replace Boro code with borough
subway_df['Boro'].replace('Bx', 'The Bronx', inplace=True)
subway_df['Boro'].replace('B', 'Brooklyn', inplace=True)
subway_df['Boro'].replace('M', 'Manhattan', inplace=True)
subway_df['Boro'].replace('Q', 'Queens', inplace=True)
subway_df['Boro'].value_counts()

Brooklyn     157
Manhattan    121
Queens        78
The Bronx     68
Name: Boro, dtype: int64

In [16]:
# Delete rows with no value
subway_df.dropna(axis=0, thresh=3, inplace=True)
subway_df.head(5)

,Station (alphabetical by borough),Unnamed: 1,Boro,2014,2015,2016,2017,2018,2019,2018-2019 Change,Unnamed: 10,2019 Rank
1,"138 St-Grand Concourse (4,5)",1.0,The Bronx,"3,416","3,480","3,532","3,486","3,166","3,324",158,5.00%,357.0
2,"149 St-Grand Concourse (2,4,5)",NaN,The Bronx,"14,576","14,465","14,460","14,063","13,081","12,960",-121,-0.90%,120.0
3,"161 St-Yankee Stadium (B,D,4)",NaN,The Bronx,"27,541","27,020","26,947","26,674","26,034","25,642",-392,-1.50%,44.0
4,167 St (4),NaN,The Bronx,"9,793","9,923","9,972","9,466","9,398","8,486",-912,-9.70%,184.0
5,"167 St (B,D)",2.0,The Bronx,"9,906","10,166","10,439","10,223","6,342","8,542","2,200",34.70%,183.0

In [17]:
# Do I have the same stops on both the weekend subway dataset and the week day dataset?
subway_df['Station (alphabetical by borough)'].count()

430